html {
  box-sizing: border-box;
  font-size: 62.5%;
}


body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: #eeeeee;
  /*background-image: url("../images/pokeball.svg"), url("../images/pokeball.svg");*/
  /* background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;*/
  background-image: url("../images/background2.png");
  background-size: 100% 110%;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
}

.flex {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.card {
  width: 326px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.452);

}

.card-top {
  background-color: #CC0000;
  height: 180px;
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;


}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(153, 153, 153, 0.383);
  background-color: white;
  opacity: 0.6;
  padding-top: 23%;
  z-index: -1;
}

.img-container {
  background-color: white;
  margin-top: calc(-48px - 5px);
  border-radius: 50%;
  height: 180px;
  width: 180px;
  text-align: center;
  box-shadow: 0 0 2px 1px #dedede;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 0;
  margin-bottom: 2rem;
  margin-top: 23%;
  margin-left: 23%;


}

.card-body-img {
  width: 90%;
  height: 90%;
}

.card-body-title {
  margin-top: 2rem;
  font-size: 2rem;
  z-index: 1;
}

.card-body-title span {
  z-index: 1;
}

.card-body-title span {
  color: var(--dark-gray);
  font-weight: 400;
}

.card-body-text {
  color: var(--dark-gray);
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  background-color: white;
  opacity: 0.6;
}

.card-footer-specs {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  z-index: 1;
  font-size: 1.1rem;
}

.card-footer-specs p {
  letter-spacing: 1px;
  z-index: 1;
}

.dataControl {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;


}


.randomButton {
  border: none;
  padding: 0 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #18a4d2bc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 4px;
}

.randomButton:hover {
  background-color: #008CBA;
  color: white;
}

.pokeINput {
  border: none;
  padding: 4px 7px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #18a4d2bc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 110%;
}

.pokeINput:hover {
  background-color: #008CBA;
  color: white;
}

.pokeBallImg {
  width: 20%;
  height: 20%;
}

.pokeSearch {
  border: none;
  width: 25%;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding: 4px 0;

}

.pokeSearch:hover {
  background-color: #18a4d2bc;
  color: white;
}

.row {
  max-width: 1140px;
  position: absolute;
  color: #e9e9e9;
  font-size: 1.3rem;
  text-align: center;
}